In [11]:
import pandas as pd
import csv
users = pd.read_csv('users.csv',quotechar='"',
            sep=",",
            header=None,
            escapechar="\\",
            quoting=csv.QUOTE_ALL,
            error_bad_lines=False,
            encoding="utf-8")
users.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,16,Websoft International/Asianart.com,asianart,ian.alsop@asianart.com,554 7709,NaN,$2b$10$09Q60aR6xjRGX/TEjmDzheDLyyUnIaYrk67xbIs...,NaN,2019-12-07 02:15:04,2019-12-07 02:15:04,...,NaN,http://www.asianart.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,active
1,17,WebSoft International,wsi,jobs@websoftintl.com,01-5547709 / 01-5547710,NaN,$2b$10$vLwkTIR9BOOlu5CgC1uoqOf0oqe70wHxyCsiHyB...,NaN,2000-07-14 00:00:00,2000-07-14 00:00:00,...,mshrestha@websoftintl.com,http://www.jobsnepal.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,active
2,24,IUCN ( The World Conservation Union ),iucn,hr@iucn.org.np,01-,NaN,$2b$10$JtzT1Xlj9qIZtHT3rFpInOjfYKVe14pk4bnYfmb...,NaN,2000-08-09 00:00:00,2000-08-09 00:00:00,...,NaN,http://www.iucn.org.np,NaN,NaN,NaN,NaN,NaN,NaN,NaN,active
3,26,Gulmi Arghakhanchi Rural Development Project P...,gardp,psu@mos.com.np,977-1-526207,NaN,$2b$10$NxGQyB8RlyAyIParNioglu7SWAF.OpU9gpxf3WI...,NaN,2000-08-10 00:00:00,2000-08-10 00:00:00,...,NaN,NaN,NaN,NaN,977-1-537727,NaN,NaN,NaN,NaN,active
4,27,Canada-Nepal Gender in Organizations,cngo,cngo@cco.org.np,01,NaN,$2b$10$09WAp/UJcDRTArOzycGY6.M8wuO.EwaKiwErrxH...,NaN,2000-08-11 00:00:00,2000-08-11 00:00:00,...,NaN,NaN,NaN,NaN,01,NaN,NaN,NaN,NaN,active

In [12]:
import pandas as pd
import csv
resumelogin = pd.read_csv('resumelogin.csv',quotechar='"',
            sep=";",
            header=None,
            escapechar="\\",
            quoting=csv.QUOTE_ALL,
            error_bad_lines=False,
            encoding="utf-8")
resumelogin.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,27,ian,hicelapi,ianalsop108@hotmail.com,NaN,2,Mr,Ian,Alsop,1947-07-28,...,1 413 215 5670,NaN,https://www.themete.com/,2000-08-11,0,0,0000-00-00,0000-00-00,0000-00-00,2019-12-03 13:42:26
1,29,skshr,525047,fvc@wlink.com.np,NaN,1,Mr,Sanam,Shrestha,1969-06-07,...,NaN,NaN,NaN,2000-08-14,0,0,0000-00-00,0000-00-00,0000-00-00,0000-00-00 00:00:00
2,31,naps,giwidaci,npd355@netscape.net,NaN,0,Mr,Narayan Prasad,Duwal,1976-12-10,...,NaN,NaN,NaN,2000-08-14,0,0,0000-00-00,0000-00-00,0000-00-00,0000-00-00 00:00:00
3,32,s69tuladhar,rumours,sameer@websoftintl.com,NaN,1,Mr,Sameer,Tuladhar,1900-01-01,...,NaN,NaN,NaN,2000-08-14,0,0,0000-00-00,0000-00-00,0000-00-00,2015-08-12 16:45:17
4,34,Puru,sayocira,purupradhan@hotmail.com,NaN,0,Mr,Purushottam,Pradhan,1900-01-01,...,NaN,NaN,NaN,2000-08-14,0,0,0000-00-00,0000-00-00,0000-00-00,0000-00-00 00:00:00